:root {
    --primary: #9f1121;
    --primary-hover: #830c1a;
    --secondary: #efefef;
    --main-font: 17px;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    user-select: none;
    overflow: hidden;
}

button {
    background: none;
    border: none;
    font-size: var(--main-font);
    font-weight: 500;
    cursor: pointer;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-button,
*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track-piece {
    display: none;
}